#denunciar {
  background-color: rgb(78, 25, 25);
}

#ver-dados {
  background-color: rgb(25, 25, 78);
}

#trocar {
  background-color: rgb(25, 78, 28);
}

#loc {
  display: flex;
}

#token-form, #modal-token-form-container  {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* #modal-token-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
} */


#modal-inventario {
  max-width: 60rem !important;
}
