#denunciar {
  background-color: rgb(78, 25, 25);
}

#trocar {
  background-color: rgb(25, 78, 28);
}

#locButton {
  background-color: rgb(25, 25, 78);
}

#loc {
  display: flex;
}

#token-form, #modal-token-form-container  {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* #modal-token-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
} */


#modal-inventario {
  max-width: 60rem !important;
}

#modal-cadastro {
  display: flex;
  max-width: 80rem;
}

#form-cadastro-itens-sobrevivente {
  display: flex;
  flex-direction: column;
}

#select-item {
  flex: 4;
}

#quantidade-sobrevivente {
  flex: 2;
}