{% extends 'base.html' %} 
{% load static %} 

{% block estilo %}
<link rel="stylesheet" href="{% static 'css/sobrevivente.css' %}" />
{% endblock %} 

{% block title %}Sobreviventes{% endblock %} 

{% block content %}
<h1 class="content-title">Sobreviventes</h1>
<div class="custom-table">
  <div class="custom-table-header">
    <span class="custom-table-title" style="width: 35%">Nome</span>
    <span class="custom-table-title" style="width: 8.25%">Idade</span>
    <span class="custom-table-title" style="width: 12%">Sexo</span>
    <span class="custom-table-title" style="width: 12%">Status</span>
    <span class="custom-table-title" style="width: 21.5%"
      >Ultima Localização</span
    >
    <span class="custom-table-title" style="width: 10%">Ações</span>
  </div>
  <div class="custom-table-body">
    {% for sobrevivente in object_list %}
    
    <div class="custom-table-row">
      <span class="custom-table-data" style="width: 35%"
        >{{sobrevivente.nome}}</span
      >
      <span class="custom-table-data" style="width: 8.25%"
        >{{sobrevivente.idade}} anos</span
      >
      <span class="custom-table-data" style="width: 12%"
        >{{sobrevivente.sexo}}</span
      >
      {% if sobrevivente.infectado %}
      <span class="custom-table-data" style="width: 12%; color: red"
        >Infectado</span
      >
      {% else %}
      <span class="custom-table-data" style="width: 12%; color: green"
        >Saudável</span
      >
      {% endif %}
      <span class="custom-table-data" id="loc" style="width: 21.5%">
        <span title="Latitude" style="margin-right: 0.5rem"
          >[{{sobrevivente.lat}}] </span
        >-<span title="Longitude" style="margin-left: 0.5rem"
          >[{{sobrevivente.long}}]</span
        >
      </span>
      <span class="custom-table-data-buttons" style="width: 10%">
        {% if sobrevivente.infectado == False %}
        <a 
          class="custom-table-button" 
          id="denunciar" title="Denunciar" 
          onclick="abrirModalDenuncia('{{sobrevivente.id}}')"
          ><span class="material-symbols-outlined">warning</span></a
        >
        <a
          class="custom-table-button"
          id="trocar"
          title="Trocar"
          onclick="abrirModalTroca('{{sobrevivente.id}}')"
          ><span class="material-symbols-outlined">cached</span></a
        >
        {% endif %}
      </span>
    </div>
    {% empty %}
    <div class="custom-table-row">
      <span class="custom-table-no-data"
        >Nenhum atendimento registrado ainda
      </span>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %} 
{% block modal %}
<div class="modal" id="modal-trocar">
  <h1 class="content-title">Buscar inventario</h1>
  <form id="token-form">
    {% csrf_token %}
    <div id="modal-token-form-container">
      <span>Insira seu token de inventario:</span>
      <input class="input-modal" type="text" name="token" id="token" />
    </div>
    <button type="button" id="token-btn" class="btn-modal">Enviar</button>
  </form>
</div>

<div class="modal" id="modal-inventario">
  <h1 class="content-title">Seu Inventario</h1>
  <div class="custom-table" id="inventario-table">
    <div class="custom-table-header">
      <span class="custom-table-title" style="width: 50%">Item</span>
      <span class="custom-table-title" style="width: 15%">Quant.</span>
      <span class="custom-table-title" style="width: 15%">Valor</span>
      <span class="custom-table-title" style="width: 15%">Total</span>
      <span class="custom-table-title" style="width: 5%"></span>
    </div>
    <div id="inventario-body" class="custom-table-body">
      
    </div>
  </div>
</div>

<div class="modal" id="modal-denuncia">
  <h1 class="content-title">Denunciar sobrevivente</h1>
  <div>
    <span>Deseja denunciar esse sobrevivente?</span>
  </div>
  <form id="denuncia-form">
    {% csrf_token %}
    <input type="hidden" id="denunciasInp" name="denuncias">
    <input type="hidden" id="sobreviventeInp" name="sobrevivente">
  </form>
  <form id="atualizar-infectado-form">
    {% csrf_token %}
    <input type="hidden" id="infectadoInp" name="infectado">
  </form>
  <div>

    <button class="btn-modal" onclick="buscarDenunciasSobrevivente()">Denunciar</button>
    <button class="btn-modal btn-cancelar">Cancelar</button>
  </div>
</div>

{% endblock %}
