{% extends 'base.html' %} 
{% load static %}

{% block estilo %}
<link rel="stylesheet" href="{% static 'css/sobrevivente.css' %}" />
{% endblock %}

{% block title %}Sobreviventes{% endblock %} 

{% block content %}

<div class="custom-table">
  <div class="custom-table-header">
    <span class="custom-table-title" style="width: 30%">Nome</span>
    <span class="custom-table-title" style="width: 8.25%">Idade</span>
    <span class="custom-table-title" style="width: 12%">Sexo</span>
    <span class="custom-table-title" style="width: 12%">Status</span>
    <!-- <span class="custom-table-title" style="width: 10.75%">Latitude</span> -->
    <span class="custom-table-title" style="width: 21.5%">Ultima Localização</span>
    <span class="custom-table-title" style="width: 15%">Ações</span>
  </div>
  <div class="custom-table-body">
    {% for sobrevivente in object_list %}
    <div class="custom-table-row">
      <span class="custom-table-data" style="width: 30%"
        >{{sobrevivente.nome}}</span
      >
      <span class="custom-table-data" style="width: 8.25%"
        >{{sobrevivente.idade}} anos</span
      >
      <span class="custom-table-data" style="width: 12%"
        >{{sobrevivente.sexo}}</span
      >
      {% if sobrevivente.infectado %}
      <span class="custom-table-data" style="width: 12%"
        >Infectado</span
      >
      {% else %}
      <span class="custom-table-data" style="width: 12%"
        >Saudável</span
      >
      {% endif %}
      <!-- <span class="custom-table-data" style="width: 10.75%"
        >{{sobrevivente.lat}}</span
      > -->
      <span class="custom-table-data" id="loc" style="width: 21.5%"
        >
            <span title="Latitude" style="margin-right: 0.5rem;">[{{sobrevivente.lat}}] </span>-<span title="Longitude" style="margin-left: 0.5rem;">[{{sobrevivente.long}}]</span>
        </span
      >
      <span class="custom-table-data-buttons" style="width: 15%">
        <a class="custom-table-button" id="denunciar" title="Denunciar" href="#"
          ><span class="material-symbols-outlined">warning</span></a
        >
        <a class="custom-table-button" id="ver-dados" title="Ver" href="#"
          ><span class="material-symbols-outlined"> visibility </span></a
        >
        <a class="custom-table-button" id="trocar" title="Trocar" href="#"
          ><span class="material-symbols-outlined">cached</span></a
        >
      </span>
    </div>
    {% empty %}
    <div class="custom-table-row">
      <span class="custom-table-no-data"
        >Nenhum atendimento registrado ainda
      </span>
    </div>
    {% endfor %}
    
  </div>
</div>
{% endblock %}
